body {
    overflow-y: hidden;
}

.wrapper {
    background-image: url('./pics/background.png');
    background-size: cover;
    height: 100%;

    @media screen and (min-width: 1025px) {
        max-width: 900px;
        margin: auto;
    }
}

.title {
    color: $text-color;
    font-family: 'Gorditas', cursive;
    font-size: 40px;
    padding: 10px;
    padding-top: 10%;
    text-align: center;
    text-shadow: 0 0 10px $text-shadow-color;
    user-select: none;

    @media screen and (max-height: 500px) {
        font-size: 30px;
        padding-top: 5%;
    }

    @media screen and (min-width: 750px) {
            padding-top: 6%;
    }
}

.playground {
    align-content: center;
    background-image: url('./pics/playground-bg.jpg');
    border: 10px solid $border-color;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vw - 40px);
    justify-content: center;
    margin-top: 10%;
    margin-left: 20px;
    position: relative;
    width: calc(100vw - 40px);

    @media screen and (max-height: 500px) {
        margin-top: 3%;
    }
    @media screen and (min-width: 750px) {
        margin-top: 5%;
    }

    @media screen and (min-width: 1025px) {
        height: 60%;
        width: 60%;
        margin: auto;
        margin-top: 5%;
    }
}
.cell {
   height: 31%; 
   width: 31%;
   position: relative;
}
.card {
    background-image: url('./pics/card-bg.png');
    border: 3px solid $border-color;
    border-radius: 15%;
    box-sizing: border-box;
    color: $text-color;
    font-family: $font-family;
    font-size: 30px;
    height: 100%;
    padding: 30% 0; 
    text-align: center;
    text-shadow: 0 0 10px $text-shadow-color;
    user-select: none;
    width: 100%; 
}

.draggable {
    box-shadow: inset 0 0 20px $inset-shadow-color;
    position: absolute;
    z-index: 100;
   
}

.game-end-popup {
    @extend .draggable;
    box-shadow: none;
    color: $text-color;
    font-family: $font-family;
    font-size: 40px;
    text-shadow: 0 0 10px $text-shadow-color;
    top: 40%;
}

.start-btn {
    background-image: url('./pics/card-bg.png');
    border: 5px solid $border-color;
    border-radius: 25px;
    color: $text-color;
    display: block;
    font-family: $font-family;
    font-size: 20px;
    margin: 35px auto;
    outline: none;
    padding: 15px;
    user-select: none;

    &:active {
        box-shadow: inset 0 0 10px $inset-shadow-color;
    }
}