.wrapper {
    background-image: url('./pics/background.png');
    background-size: cover;
    height: 100%;
}

.title {
    color: $text-color;
    font-family: 'Gorditas', cursive;
    font-size: 40px;
    padding: 10px;
    padding-top: 10%;
    text-align: center;
    text-shadow: 0 0 10px $text-shadow-color;
}

.playground {
    align-content: center;
    background-image: url('./pics/playground-bg.jpg');
    border: 10px solid $playground-border-color;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vw - 40px);
    justify-content: center;
    margin-top: 10%;
    margin-left: 20px;
    width: calc(100vw - 40px);

    position: relative;
}
.cell {
   height: 31%; 
   width: 31%;
   position: relative;
}
.card {
    background-image: url('./pics/card-bg.png');
    border: 3px solid $playground-border-color;
    border-radius: 15%;
    box-sizing: border-box;
    color: $text-color;
    font-family: $font-family;
    font-size: 30px;
    height: 100%;
    padding: 30% 0; 
    text-align: center;
    text-shadow: 0 0 10px $text-shadow-color;
    width: 100%;   
}

.draggable {
    position: absolute;
    z-index: 100;
}

.game-end-popup {
    @extend .draggable;
    color: $text-color;
    font-family: $font-family;
    font-size: 40px;
    text-shadow: 0 0 10px $text-shadow-color;
    top: 40%;
}
