
$font-family: 'Gorditas', cursive;

// -----------------------
// COLORS
// -----------------------

$text-color: #fff;
$text-shadow-color: #000;
$border-color: #a58456;
$inset-shadow-color: #54240d;